@charset "UTF-8";
/* CSS Document */
body{
  font-family: 'Roboto', sans-serif;
}

/*
Topbar
*/
.top-bar a{
	font-size: .8rem;
	color: #fff;
	font-weight: 500;
}

.top-bar a i{
	line-height:inherit;
}
.top-bar a:hover{
	color: #E89400;
}
.top-bar .dropdown-menu{
	z-index: 1021;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.shadow-1{
	box-shadow: 0px 2px 20px rgba(0,0,0,0.25);
}

.slick-prev:before,
.slick-next:before {
	color: black;
}
/*
Top Bar
*/
.nav-divided .nav-item,.nav-divided .nav-link{
	position: relative;
}
.nav-divided .nav-item:not(:first-child)::before,.nav-divided .nav-link:not(:first-child)::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	bottom: 0;
	transform: translateY(-50%);
	width: 1px;
	height: 40%;
	background-color:#9E9E9E;
}
/*
Modal Backdrop
*/
.modal-backdrop.show {
    opacity: 0.8; }
/*
Main Navbar
*/
#mainNavbar{
	position: absolute;
	top: 0;
	width: 100%;
}
/*
Cover Navbar logo bg
*/
.navbar-bg{
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.12);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.12);
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.3) 0%,transparent 100%);
    background-image: linear-gradient(top,rgba(0,0,0,0.3) 0%,transparent 100%);
    background-image: -webkit-linear-gradient(to bottom,PICTURESQUE_GRADIENT_OPACITY 0%,transparent 100%);
    background-image: linear-gradient(to bottom,PICTURESQUE_GRADIENT_OPACITY 0%,transparent 100%);
}/*
.navbar .container-fluid:before {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 200px;
	left: -12px;
	opacity: 1;
	position: absolute;
	top: -26%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
	width: 200px;
	z-index: -1;
	transition: all 0.5s ease-out;
}*/
.navbar.navbarFixed .container-fluid:before {
	opacity: 0;
}
#navbarHome .navbar-nav .nav-link {
	color: #0674ED;
	font-weight: 500;
} 
@media (min-width: 992px){
	.navbar-expand-lg #navbarHome .navbar-nav > .nav-link {
		padding: 0.2rem 1.5rem;
	}
	.navbar-expand-lg #navbarHome .navbar-nav .nav-link.dropdown-toggle {
		padding: 0.2rem 0.5rem;
	}
}
#navbarHome .navbar-nav .nav-link:hover, #navbarHome .navbar-nav .nav-link:focus {
	background:#0674ED;
	border-radius:20px;
	color: #fff;
}
#navbarHome .navbar-nav .nav-link.dropdown-toggle:hover, #navbarHome .navbar-nav .nav-link.dropdown-toggle:focus {
  background:rgba(0,0,0,.1);
}

.allServicesDropdown .dropdown-menu {
    position: absolute;
    max-height: calc(-56px + 100vh);
    transition: height 0.3s ease-in-out 0s;
	background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
    overflow-x: hidden;
}
.allServicesDropdown .dropdown-menu ul li {
    display: inline-block;
    height: 98px;
    list-style-type: none;
    padding: 1px 7px 1px 7px;
    position: relative;
    transition: transform .2s cubic-bezier(.333,0,0,1);
    vertical-align: top;
    width: 86px;
}
.allServicesDropdown .dropdown-menu ul li a {
    border-radius: 8px;
    margin: 8px 2px;
    position: absolute;
    text-align: center;
    width: 84px;
}
.allServicesDropdown .dropdown-menu ul li a:hover {
    background-color: #f6fafe !important;
    z-index: 1;
}

.allServicesDropdown .services-text {
    color: #404040;
    font-size: 14px;
    letter-spacing: .09px;
    line-height: 16px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 76px;
}

#navbarHome .navbar-nav .active > .nav-link, #navbarHome .navbar-nav .nav-link.active, #navbarHome .navbar-nav .nav-link.show, #navbarHome .navbar-nav .show > .nav-link {
  background: #e89400;
  border-radius:20px;
}
.navbarFixed{
  transition: 0.4s;
}
.navbarFixed img{
  transition: 0.4s;
  width: 75px;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
#navbarHome .dropdown-menu {
  font-size: .85rem;
}
.dropdown-item:hover, .dropdown-item:focus {
  background: -moz-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0674ed), color-stop(100%, #e89400));
  background: -webkit-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
  background: -o-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
  background: -ms-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
  background: linear-gradient(150deg, #0674ed 0%, #e89400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
  color: #fff;
}
#navbarHome .dropdown-item{
	padding: 0.4rem 1rem;
}
#navbarHome .dropdown-item:not(:last-child) {
  border-bottom: rgba(0,0,0,.2) solid 1px;
}
/*
Sub Navigation
*/
#navbar-sub.sticky-top {
    position: sticky;
    top: 3.1rem;
    z-index: 1020;
	transition: top 0.3s;
}
#navbar-sub a {
	color: #fff;
	font-size: .8rem;
	font-weight: 500;
	-webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
#navbar-sub.sticky-top a {
	font-size: .8rem;
	color: #000;
	font-weight: 500;
}

#navbar-sub .nav-link{
position: relative;
}
/*
Cover
*/
.hero{
	min-height: 60vh;
}
@media (min-width: 576px) { 
	.hero{
		min-height: 90vh;
	}
}


.pattern-overlay-1,.pattern-overlay-2 {
    position: relative;
}

.pattern-overlay-1::before {
    content: "";
    background: url(../img/01.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}
#coverVideo {
	position: absolute;
	right: 0;
	bottom: -10rem;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}


.travel-fleet .nav-link{
    color: #000;
	padding: .5rem;
	position: relative;
	font-size: 3vw;
}

@media (min-width: 576px) { 
	.travel-fleet .nav-link{
		font-size: 1vw;
	}
}

.travel-fleet .nav-link::after, #navbar-sub .nav-link::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    height: 4px;
    background: #0674ed;
    border-top: none;
    content: '';
    opacity: 0;
    -webkit-transition: opacity .3s,-webkit-transform .3s;
    -moz-transition: opacity .3s,-moz-transform .3s;
    transition: opacity .3s,transform .3s;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    z-index: 1;
	margin: 0 auto;
	text-align: center;
	right: 0;
}
.travel-fleet .nav-link:hover::after, .travel-fleet .nav-link:focus::after,.travel-fleet .nav-link.active::after, .travel-fleet .show > .nav-link::after,
#navbar-sub .nav-link:hover::after, #navbar-sub .nav-link.active::after{
    opacity: 1;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
} 

.booking-form .form-group {
    margin-bottom: .5rem;
}
.booking-form .form-control {
    border: none;
	font-size: .9rem;
}
.booking-form .input-group-prepend {
}
.booking-form .input-group-text {
    background-color: #FFF;
    border: none;
	font-size: .8rem;
	text-transform: uppercase;
	width: 4rem;
}
/*
Fleet Slider Nav
*/
.vehicle-features-nav .nav-link{
	color: #9E9E9E;
	text-align: center;
    position: relative;
    vertical-align: middle;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
	font-size: 4vw;
}
.vehicle-features ul li{
	font-size: 3vw;
}

.slick-slide, .vehicle-features-nav .nav-link:focus{
	outline: none;
}
.vehicle-features-nav i{
	font-size: 3vw;
	text-align: center;
	border-radius: 50%;
	color: #9E9E9E;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: #9E9E9E solid 1px;
}
@media (min-width: 576px) {
	.vehicle-features ul li, .vehicle-features-nav .nav-link{
		font-size: 1.2vw;
	} 
	.vehicle-features-nav i{
		font-size: 1vw;
		text-align: center;
		border-radius: 50%;
		color: #9E9E9E;
		position: relative;
		vertical-align: middle;
		overflow: hidden;
		-webkit-transition: all 0.15s ease;
		transition: all 0.15s ease;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: #9E9E9E solid 1px;
	}
}
.vehicle-features-nav .nav-link:focus,.vehicle-features-nav .nav-link:hover,.vehicle-features-nav .nav-link:focus i,.vehicle-features-nav .nav-link:hover i{
	color:#0674ED;
	border-color: #0674ED;
}
.vehicle-features-nav .nav-link:hover i::before{
  -webkit-animation: toTopFromBottom 0.35s forwards;
  -moz-animation: toTopFromBottom 0.35s forwards;
  animation: toTopFromBottom 0.35s forwards;
	display:inline-flex;
}

@-webkit-keyframes toTopFromBottom {
		49% {
				-webkit-transform: translateY(-100%)
		}
		50% {
				opacity: 0;
				-webkit-transform: translateY(100%)
		}
		51% {
				opacity: 1
		}
}
@-moz-keyframes toTopFromBottom {
		49% {
				-moz-transform: translateY(-100%)
		}
		50% {
				opacity: 0;
				-moz-transform: translateY(100%)
		}
		51% {
				opacity: 1
		}
}
@keyframes toTopFromBottom {
		49% {
				transform: translateY(-100%)
		}
		50% {
				opacity: 0;
				transform: translateY(100%)
		}
		51% {
				opacity: 1
		}
}
.toTopFromBottom {
		-webkit-animation-name: toTopFromBottom;
		animation-name: toTopFromBottom
}
@-webkit-keyframes toBottomFromTop {
		49% {
				-webkit-transform: translateY(100%)
		}
		50% {
				opacity: 0;
				-webkit-transform: translateY(-100%)
		}
		51% {
				opacity: 1
		}
}
@-moz-keyframes toBottomFromTop {
		49% {
				-moz-transform: translateY(100%)
		}
		50% {
				opacity: 0;
				-moz-transform: translateY(-100%)
		}
		51% {
				opacity: 1
		}
}
@keyframes toBottomFromTop {
		49% {
				transform: translateY(100%)
		}
		50% {
				opacity: 0;
				transform: translateY(-100%)
		}
		51% {
				opacity: 1
		}
}
.toBottomFromTop {
		-webkit-animation-name: toBottomFromTop;
		animation-name: toBottomFromTop
}
.vehicle-type.slick-initialized .slick-slide {
    display: flex;
}
.vehicle-type-nav .nav-link{
	font-size: 3vw;
}
@media (min-width: 576px) { 
	.vehicle-type-nav .nav-link{
		font-size: 1vw;
	}
}

.slick-center {
    color:#E89400 !important;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 100%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    background: rgba(0, 0, 0, .5);
	z-index: 1;
}
.slick-prev:before, .slick-next:before {
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    opacity: .75;
    color: rgb(255, 255, 255);
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
	background: rgba(0, 0, 0, .5);
}
.slick-prev:before {
    content: '\f053';
}
.slick-next:before {
    content: '\f054';
}

/*
Fleet Map

.fleet-map::before {
    background-image: linear-gradient(180deg,#fff 22%,rgba(255,255,255,0) 94%);
    content: '';
    height: 40%;
    position: absolute;
    width: 100%;
}
.fleet-map::after {
    background-image: linear-gradient(180deg,#fff 22%,rgba(255,255,255,0) 94%);
    content: '';
    height: 40%;
    position: absolute;
    width: 100%;
}
*/
.bg-grad {
	background: #00AAFF;
}
.icon-grad {
    background: -webkit-linear-gradient(90deg, #e89400, #0674ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
/*
Car Animation
*/
.animation {
  width: 100%;
  height: 6rem;
  overflow: hidden;
}

.backwheel, .frontwheel {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 3px solid white;
  border-radius: 50%;
  background: black;
  -webkit-animation: wheels 0.4s linear infinite;
          animation: wheels 0.4s linear infinite;
}
.backwheel::after, .frontwheel::after {
  content: "";
  width: 1px;
  height: 25px;
  background: white;
  position: absolute;
  left: 17px;
  top: 5px;
}
.backwheel::before, .frontwheel::before {
  content: "";
  width: 25px;
  height: 1px;
  background: white;
  position: absolute;
  left: 5px;
  top: 17px;
}

.car {
  position: relative;
}
.car .body {
  width: 200px;
  height: 40px;
  background: #e89400;
  border: 3px solid #e89400;
  border-top-left-radius: 80%;
  border-top-right-radius: 95%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 40%;
}
.car .body .upperbody {
  position: absolute;
  background: #e89400;
  width: 150px;
  height: 50px;
  border-radius: 50%;
  border-top-left-radius: 80%;
  top: -8px;
  left: 6px;
}
.car .body .upperbody .window {
  position: absolute;
  background: black;
  width: 80px;
  height: 20px;
  top: 5px;
  right: 25px;
  border-top-left-radius: 90%;
  border-top-right-radius: 85%;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 10%;
}
.car .body .upperbody .window .line {
  width: 1px;
  height: 25px;
  background: #e89400;
  position: absolute;
  left: 25px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: -2px;
}
.car .body .backwheel {
  bottom: -10px;
  left: 15px;
}
.car .body .frontwheel {
  bottom: -10px;
  left: 135px;
}

@-webkit-keyframes wheels {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheels {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.road {
  position: absolute;
  width: 100px;
  height: 3px;
  border-radius: 10%;
  background: black;
  bottom: -10px;
  right: -200px;
  -webkit-animation: move 2s linear infinite;
          animation: move 2s linear infinite;
}

@-webkit-keyframes move {
  0% {
    right: -200px;
  }
  100% {
    right: 400px;
  }
}

@keyframes move {
  0% {
    right: -200px;
  }
  100% {
    right: 400px;
  }
}
/*
Car End
*/
/*
How It Works
*/
.how-it-works .description p {
	color: #7c9abd;
	font-size: .8rem;
}
.icon-box.style12 > .icon-wrapper > i {
	background:#0674ED;
	color: rgb(255, 255, 255);
	font-size: 1.5em;
}
.icon-wrapper i {
	width: 2em;
	height: 2em;
	line-height: 2em;
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	-ms-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	display: inline-block;
	text-align: center;
}
@media (min-width: 576px) {
	.travelo-process {
		display: inline-block;
		position: relative;
		padding: 0 !important;
		float: none !important;
	}
	
	.travelo-process .process {
		display: inline-block;
		position: absolute;
		/*table-layout: fixed;*/
		width: 100%;
		margin-top: -32.4px;
		margin-left: -32.4px;
		margin-right: -32.4px;
	}
	
	.travelo-process .process.first {
		top: 15%;
		right: 76%;
		margin-left: 0;
		text-align: right;
	}
	
	.travelo-process .process.second {
		top: 15%;
		left: 75%;
		margin-right: 0;
		text-align: left;
	}
	
	.travelo-process .process.third {
		bottom: 3%;
		left: 75%;
		margin-right: 0;
		text-align: left;
	}
	
	.travelo-process .process.forth {
		bottom: 3%;
		right: 74%;
		margin-left: 0;
		text-align: right;
	}
	
	.travelo-process img {
		max-width: 100%;
		margin-bottom: 2px;
	}

	.travelo-process .process .icon-wrapper {
		vertical-align: top;
	}
	.travelo-process .process .icon-wrapper i {
		display: block;
		font-size: 36px;
	}
	.travelo-process .process .details {
		min-width: 250px;
		width: 100%;
	}

	.travelo-process .process.first .details {
		padding-right: 8%;
		padding-left: 0;
	}

	.travelo-process .process.second .details {
		padding-left: 8%;
		padding-right: 0;
	}

	.travelo-process .process.third .details {
		padding-left: 8%;
		padding-right: 0;
	}

	.travelo-process .process.forth .details {
		padding-right: 8%;
		padding-left: 0;
	}
	
	
	
}

/* 2.13. Image Box Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.image-box .box, .image-box.box {
  text-align: left;
  background: #fff;
  margin-bottom: 30px;
}
.image-box .box img, .image-box.box img {
  width: 100%;
  height: auto;
}
.image-box .box > .details, .image-box.box > .details {
  padding: 12px 15px;
}
.image-box .box > .details > *:last-child, .image-box.box > .details > *:last-child {
  margin-bottom: 0;
}
.image-box .box .box-title, .image-box.box .box-title {
  margin-bottom: 10px;
  color: #2d3e52;
}
.image-box.style1 .box-title, .image-box.style10 .box-title {
  margin-bottom: 0;
}
.image-box.style7 .opacity-wrapper, .image-box.style8 .opacity-wrapper, .image-box.style12 .opacity-wrapper {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #fdb714;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
.image-box.style5 .box, .image-box.style5.box, .image-box.style11 .box, .image-box.style11.box {
  position: relative;
}
.image-box.style5 figure, .image-box.style11 figure {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	z-index: 0;
	height: 162px;
}
.image-box.style5 figure figcaption, .image-box.style11 figure figcaption {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 10px;
  padding: 5px 20px 5px 20px;
  min-width: 130px;
  background: #2d3e52;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  -webkit-transition: -webkit-transform 0.35s;
  -ms-transition: -ms-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.image-box.style5 figure figcaption .caption-title, .image-box.style11 figure figcaption .caption-title {
  margin: 0;
  color: #fff;
  line-height: 1.1em;
	font-weight: 400;
}
.image-box.style5 figure figcaption span, .image-box.style11 figure figcaption span {
  color: #fdb714;
  text-transform: uppercase;
  font-size: 0.8333em;
  letter-spacing: 0.04em;
}
.image-box.style5 figure:hover figcaption, .image-box.style11 figure:hover figcaption {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.image-box.style5 figure:hover a:before, .image-box.style11 figure:hover a:before {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.image-box.style5 figure img, .image-box.style11 figure img {
  -webkit-backface-visibility: hidden;
}
.image-box.style5 figure a, .image-box.style11 figure a {
  display: block;
}
.image-box.style5 figure a:before, .image-box.style11 figure a:before {
  position: absolute;
  z-index: 2;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(1, 183, 242, 0.3);
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.image-box.style5 .details, .image-box.style11 .details {
  padding: 0;
}
.image-box.style5 .details .detail, .image-box.style11 .details .detail {
  margin: 0;
  border-top: 1px solid #f5f5f5;
  padding: 10px 20px;
}
.image-box.style5 .details .detail:first-child, .image-box.style11 .details .detail:first-child {
  border: none;
}
.image-box.style5 .details .detail .box-title, .image-box.style11 .details .detail .box-title {
  line-height: 40px;
  margin: 0;
}
.image-box.style5 .details .detail:after, .image-box.style11 .details .detail:after {
  display: table;
  content: "";
  clear: both;
}
/*
Process Block
*/
@media (min-width: 576px){
	.process-block.col-sm-2 {
		flex: 0 0 20%;
		max-width: 20%;
	}
}
.process-block {
    position: relative;
    margin-bottom: 40px;
}
.process-block .inner-box {
    position: relative;
    display: block;
    text-align:center;
}
.process-block .inner-box .upper-box {
    position: relative;
}
.process-block .inner-box .upper-box .icon-box{
    color: #000;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border:2px solid rgba(0, 0, 0,.4);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	text-align: center;
}
.process-block .inner-box .icon-box:after {
	background: -moz-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0674ed), color-stop(100%, #e89400));
	background: -webkit-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
	background: -o-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
	background: -ms-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
	background: linear-gradient(150deg, #0674ed 0%, #e89400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
	border-radius: 50%;
	bottom: -100%;
	content: "";
	display: block;
	height: 0;
	left: -100%;
	margin: auto;
	max-height: 408px;
	max-width: 408px;
	padding-top: 100%;
	position: absolute;
	right: -100%;
	top: -100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out,-webkit-transform .3s ease-out;
	width: 100%;
	will-change: transform;
	z-index: -1;
}
.process-block .inner-box:focus .icon-box::after, .process-block .inner-box:hover .icon-box::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.process-block .inner-box:hover .upper-box .icon-box{
	border-color:transparent;
    color: #fff;
}
.process-block .inner-box .upper-box:after {
    position: absolute;
    content: '\f30b';
    left: 100%;
    color: rgb(228, 228, 228);
    font-size: 45px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
	top: 50%;
	transform: translateY(-50%);
}
.process-block:last-child .inner-box .upper-box:after{
	display:none;
}
.process-block .inner-box .upper-box .icon-box .block-number {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    color: rgb(119, 119, 119);
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 21px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.process-block .inner-box:hover .upper-box .icon-box .block-number {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
}
.process-block .inner-box .lower-box h3 {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    margin-bottom: 10px;
    text-transform: uppercase;
	text-align: center;
}
.process-block .inner-box .lower-box h3 a {
    position: relative;
    color: rgb(51, 51, 51);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.process-block .inner-box .lower-box .text {
    position: relative;
    color: rgb(119, 119, 119);
    font-size: .9rem;
    max-width: 210px;
    margin: 0 auto;
}
/*
Hero Bacground Pattern
*/
.pattern-overlay-2::before {
    content: "";
    background: url("/assets/img/bredcrumb.png");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
/*
Single Feature
*/
.single-feature.card {
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 12px 50px #AFAFAF38;
    -moz-box-shadow: 0px 12px 50px #AFAFAF38;
    box-shadow: 0px 12px 50px #AFAFAF38;
	position: relative;
}
.road-left.card::before{
    content: "";
    border: solid 1px rgb(0, 0, 0);
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    width: 26px;
    left: -28px;
	bottom: 0;
}
.road-bottom.card::before{
    content: "";
    border: solid 1px rgb(0, 0, 0);
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    width: 26px;
    left: -28px;
	bottom: 0;
}
.road-left.card::after {
	content: "";
	border-left:dashed 1px #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -15px;
}
.road-bottom.card::after {
	content: "";
	border-left:dashed 1px #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -15px;
}
.single-feature.border-radius-1 {
    border-radius: 100px 0px 0px 0px;
}
.single-feature.border-radius-2 {
    border-radius: 0px 0px 0px 100px;
}
.single-feature.border-radius-3 {
    border-radius: 0px 100px 0px 0px;
}
.single-feature.border-radius-4 {
    border-radius: 0px 0px 100px 0px;
}
.single-feature .media .media-body {
	padding: 1rem;
}
.single-feature .media .media-body h6 {
    letter-spacing: 0.22px;
    margin-bottom: 12px;
    font-weight: 600;
}
.single-feature .media .media-body p {
    font-size: var(--body-font-size);
    line-height: var(--line-height30);
    letter-spacing: 0.3px;
    color: rgb(91, 104, 128);
	text-align: justify;
}

/*
Mixitup controls

.mixitup-controls.btn-group{
	-moz-box-shadow:    inset 0px 0px 26px rgba(0,0,0,.3);
   -webkit-box-shadow: inset 0px 0px 26px rgba(0,0,0,.3);
   box-shadow:         inset 0px 0px 26px rgba(0,0,0,.3);
	border-radius: 50rem;
}
.mixitup-controls.btn-group > .btn:first-child, .mixitup-controls.btn-group > .btn-group:first-child > .btn {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
}
.mixitup-controls.btn-group > .btn:last-child, .mixitup-controls.btn-group > .btn-group:last-child > .btn {
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
}
.mixitup-control-active,.mixitup-controls .btn-link:hover,.mixitup-controls .btn-link:focus, .mixitup-controls .btn-link.focus {
    background: #E89400;
	text-decoration: none;
	color: #000;
	-moz-box-shadow:    inset 0px 0px 10px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,.4);
   box-shadow:         inset 0px 0px 10px rgba(0,0,0,.4);
}
.mixitup-container .card{
	box-shadow: 4px 12px 47px 0 rgba(0,0,0,.1);
}
*/
/*
Mixitup controls Vehicle Type
*/
.vehicle-type-mixitup-controls .nav-link{
	font-size: 3vw;
	padding: 0.5rem;
}
@media (min-width: 576px) {
	.vehicle-type-mixitup-controls .nav-link{
		font-size: 1vw;
	}
}

.domains-carousel.owl-theme .owl-nav {
	margin-top: 0;
	position: relative;
	top: -4rem;
}
.domains-carousel.owl-theme .owl-nav [class*="owl-"] {
  position: absolute;
}
.domains-carousel.owl-carousel .owl-nav button.owl-next, .domains-carousel.owl-carousel .owl-nav button.owl-prev, .domains-carousel.owl-carousel button.owl-dot {
  background: #E89400;
  color: #0674ED;
  padding: .5rem !important;
  border-radius: 0;
}
.domains-carousel.owl-carousel .owl-nav .owl-prev {
  left: -1.6rem;
}
.domains-carousel.owl-carousel .owl-nav .owl-next {
  right: -1.6rem;
}

.categories a{
  color: #000;
}

.domains{
  margin-top: -3rem;
}
/* Services Card */
.services-ctrl .btn-outline-secondary:hover {
	color: rgb(255, 255, 255);
	background-color: #E89400;
	border-color: #E89400;
}
.hover-effect {
    display: block;
    position: relative;
    background: none;
    overflow: hidden;
}
.hover-effect img {
    display: block;
    position: relative;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-backface-visibility: hidden;
}
.hover-effect:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.hover-effect:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	-webkit-transform: rotateY(180deg) scale(0.5, 0.5);
	-moz-transform: rotateY(180deg) scale(0.5, 0.5);
	-ms-transform: rotateY(180deg) scale(0.5, 0.5);
	-o-transform: rotateY(180deg) scale(0.5, 0.5);
	transform: rotateY(180deg) scale(0.5, 0.5);
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	background: url("/assets/img/hover-effect.png") no-repeat center, -moz-linear-gradient(150deg, rgba(6, 116, 237,.7) 0%, rgba(247, 148, 29,.7) 100%);
	background: url("/assets/img/hover-effect.png") no-repeat center, -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(6, 116, 237,.6)), color-stop(100%, rgba(247, 148, 29,.6)));
	background: url("/assets/img/hover-effect.png") no-repeat center, -webkit-linear-gradient(150deg, rgba(6, 116, 237,.7) 0%, rgba(247, 148, 29,.7) 100%);
	background: url("/assets/img/hover-effect.png") no-repeat center, -o-linear-gradient(150deg, rgba(6, 116, 237,.7) 0%, rgba(247, 148, 29,.7) 100%);
	background: url("/assets/img/hover-effect.png") no-repeat center, -ms-linear-gradient(150deg, rgba(6, 116, 237,.7) 0%, rgba(247, 148, 29,.7) 100%);
	background: url("/assets/img/hover-effect.png") no-repeat center, linear-gradient(150deg, rgba(6, 116, 237,.7) 0%, rgba(247, 148, 29,.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );

}
.hover-effect:hover:after {
    visibility: visible;
    -webkit-transform: rotateY(0deg) scale(1, 1);
    -moz-transform: rotateY(0deg) scale(1, 1);
    -ms-transform: rotateY(0deg) scale(1, 1);
    -o-transform: rotateY(0deg) scale(1, 1);
    transform: rotateY(0deg) scale(1, 1);
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.services .btn:hover {
	color:#fff;
	background-color:#0674ed;
	border-color:#0674ed;
}
/*********
Dashboard
*********/
.navbar-dashboard .tab-content, .navbar-dashboard .nav-link{
  background-color: #fff;
}
.navbar-dashboard .nav-link {
  color: #9E9E9E;
  margin-bottom: .5rem;
  text-align: center;
  font-weight: 300;
  padding: 1rem;
}
.navbar-dashboard .nav-link:hover {
  color: #000;
}
.navbar-dashboard .nav-item.show .nav-link, .navbar-dashboard .nav-link.active {
  border-left: 2px solid #e89400;
  color: #000;
  position: relative;
  margin-right: -.5rem;
}
.navbar-dashboard .nav-link.active:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-left: 3px solid #e89400;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.navbar-dashboard .nav-link i{
  color: #BDBDBD;
  border: #BDBDBD solid 1px;
  margin-bottom: .5rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  padding: .35rem;
  border-radius: 50px;
  margin: .5rem auto;
}
.navbar-dashboard .nav-link:hover i,.navbar-dashboard .nav-link.active i{
  color: #e89400;
  border: #e89400 solid 1px;
}
.navbar-dashboard.no-gutters > .col, .navbar-dashboard.no-gutters > [class*="col-"] {
    padding-left: .5rem;
}
.navbar-dashboard label {
  text-transform: uppercase;
  font-size: .7rem;
  color: #757575;
  letter-spacing: 1px;
}
/*.form-control {
  background-color: #EEEEEE;
  background-clip: padding-box;
  border:none;
  border-radius:0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
	background-color:#EEEEEE;
}
.custom-file, .form-control::placeholder {
	color: rgb(108, 117, 125);
	opacity: 1;
	font-size: .8rem;
}
select {
	color: rgb(108, 117, 125) !important;
	font-weight: 400 !important;
	font-size: .8rem !important;
	height: calc(1.9em + 0.75rem + 2px) !important;
}*/
/*
Our Priorities
*/
.img-border-item {
	position: relative;
	width: 100%;
	display: inline-block;
	border: 1.071rem solid rgb(255, 255, 255);
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
} 
.icon-numb {
    background: #e89400;
    position: relative;
    display: inline-block;
    margin: 0px auto;
    color: RGB(255, 255, 255);
    padding: 0px 25px;
    height: 100px;
    line-height: 100px;
    font-weight: 900;
    font-size: 42px;
}
.heading{
	color: #0674ED;
}
.heading::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -1rem;
	width: 50px;
	height: 2px;
	background-color: #e89400;
	right: 0;
	margin: 0 auto;
}
/*
Testimonials
*/
@media (min-width: 768px) {
	.testimonials{
		background: url("/assets/img/testimonial.svg") no-repeat center right;
	}
}
.testimonials::before{
	left: 0;
	top: 0;
	position: absolute;
	text-align: center;
	line-height: inherit;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f10d";
	font-size: 10rem;
	color: #0674ed;
	opacity: .1;
}
/*
Contact US
*/
.map-share-btn{
	bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.map-share-btn:hover{
	background-color: #0674ed;
	border-color: #0674ed;
}
.contact-us-tabs.nav-pills .nav-link {
	color: #495057;
	background-color: rgba(0,0,0,.1);
 	padding: 1rem;
}
.contact-us-tabs.nav-pills .nav-link:not(:last-child) {
 	margin-bottom: 1.5rem;
 }
.contact-us-tabs.nav-pills .nav-link.active, .contact-us-tabs.nav-pills .show > .nav-link {
	color: #fff;
	background-color: #0674ed;
}
/*==============
  Footer
================*/
#footer{
	background: -moz-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0674ed), color-stop(100%, #e89400));
    background: -webkit-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
    background: -o-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
    background: -ms-linear-gradient(150deg, #0674ed 0%, #e89400 100%);
    background: linear-gradient(150deg, #0674ed 0%, #e89400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
	color:#fff !important;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6{
	color: #fff;
}
#footer p, .footer-links a{
	color: #FAFAFA;
	font-size: .8rem !important;
}
footer .nav-link{
	position: relative;
}
footer .footer-wrapper {
    background: #daf8ff;
  margin-top: 1rem;
}
footer .footer-wrapper > .container:first-child {
    position: relative;
}

footer .footer-wrapper > .container:first-child::before, footer .footer-wrapper > .container:first-child::after {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
}
footer .footer-wrapper > .container:first-child::before {
    width: 100%;
    height: 167px;
    top: -9.5rem;
    left: -1.5rem;
    background-image: url("/assets/img/balloon.png");
}
footer .footer-wrapper > .container:first-child::after {
    width: 241px;
    height: 184px;
    top: -8rem;
    right: 0;
    background-image: url("/assets/img/island.png");
}
.footer-links .nav-link:hover, .footer-links-col .nav-link:hover{
  color: #000;
}
.footer-links .nav-link::before {
    left: -9px;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
}
.footer-links-col .nav-link::before {
    left: -.5em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
}

.social-links a{
	color: #fff;
	padding: 0.4rem;
	text-align: center;
	width: 2rem;
}
.social-links a:hover{
	color: #000 !important;
}
.social-links a:not(:first-child){
  margin-left: .5rem;
}
/*
Social Login
*/
.social-login .nav-link{
	width: 2.5rem;
	height: 2.5rem;
	padding: .5rem;
	text-align: center;
}
.social-login .nav-link:hover{
	background-color:#e89400 !important;
}
.social-login .nav-link:hover i{
	color:#fff;
}
/*
Inner Pages
*/
#pagenav{
	padding-top: 1rem;
}
#pagenav.position-sticky{
	top: 4rem;
	z-index: 1020,
}
#pagenav .uk-nav>li>a {
    padding: 10px 0;
	padding-left: 1rem;
}
#pagenav .uk-active a {
	font-size: 1vw;
	border-right: 3px solid #f6f6f6;
}
#pagenav a:hover {
	background: #f6f6f6;
    color:#E89400;
}
#pagenav .uk-active a{
	background: rgba(6,116,237,.1);
    border-right: 3px solid #E89400;
}

/*
Section
*/
@media (min-width: 992px){
	.services-info {
		position: absolute;
		top: 3rem;
		left: 2rem;
		z-index: 9;
		text-align: left!important;
	}
}

.heading-block:after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #444;
    opacity: .8;
    border-width: 2px;
    border-style: solid;
    border-color: #E89400;
}
.card.style-1{
	border: 0;
	overflow: hidden;
	background: #fff;
	background-clip: padding-box;
	box-shadow: 0 0 35px rgba(140,152,164,.2);
}
.card.style-1.border-color-pink:before {
    background: linear-gradient(to right,#e43631,#f8c246);
}
.card.style-1:before {
    content: '';
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right,#0674ED,lightblue);
}

.bgicon {
    display: block;
    position: absolute;
    bottom: -60px;
    right: -50px;
    font-size: 210px;
    color: rgba(0,0,0,.1);
}


/*
Key Factors
*/
#Quality .nav-tabs {
    border-bottom:none;
}
#Quality .nav-tabs .nav-link {
	color: #495057;
	border:none;
	border-bottom: 3px solid transparent;
}
#Quality .nav-tabs .nav-link i{
	color:#0674ED;
}
#Quality .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #000;
    border-bottom-color:#E89400;
}
.tabContentInfo{
	margin-right: -11rem;
}
.tabContentInfo.right{
	margin-right: 0;
	margin-left: -11rem;
}


.call-to-action-area::before {
    position: absolute;
    content: "";
    top: -20px;
    left: -20px;
    border: 6px solid #E89400;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    -webkit-animation: tada 1s ease infinite;
    animation: tada 1s ease infinite;
}

.call-to-action-area {
    background: -o-linear-gradient(left, rgb(119, 1, 219) 0%, #1999f2 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgb(119, 1, 219)), to(#1999f2));
    background: linear-gradient(90deg, rgb(119, 1, 219) 0%, #1999f2 100%);
    position: relative;
    -webkit-box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .30), 0 12px 90px 0 rgba(103, 151, 255, .30);
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .30), 0 12px 90px 0 rgba(103, 151, 255, .30);
	z-index: 1;
}

.sbg-gradient-primary{
	background: #0674ED;
    background: -moz-linear-gradient(top, #0674ED 30%,#FFF 80%);
    background: -webkit-linear-gradient(top, #0674ED 30%,#FFF 80%);
    background: linear-gradient(to bottom, #0674ED 30%,#FFF 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0674ED',endColorstr='#FFF',GradientType=0 );
}

.svg-separator {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.svg-separator.top {
    top: -1px;
    bottom: auto;
}
.svg-separator.rotate {
    transform: rotate(180deg);
}
.grid-bg {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    transform: translateX(-50%);
}

/*
Travel Header
*/
.travel-header a{
	color: #757575;
	font-weight: 500;
}
.travel-header a:hover {
    background-color: #f1f3f4;
}
.travel-header .nav-link.active:hover, .travel-header .show > .nav-link:hover {
    background-color: #e8f0fe;
}
.travel-header .nav-link.active, .travel-header .show > .nav-link {
    color: #1a73e8;
}
.travel-type-selector label{
	border-radius: 50px;
	padding: 2px 5px;
	cursor: pointer;
	margin-right: 1rem;
}
.travel-type-selector .uk-radio {
    height: 13px;
    width: 13px;
	margin-right: .3rem;
}
.travel-type-selector label:hover{
	background-color: #f8f9fa;
}
.travel-type-selector .uk-radio:checked {
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}
/*
Booking Switch
*/
.flt-body1 {
    color: #3c4043;
    font: 400 16px/24px Roboto, HelveticaNeue, Arial, sans-serif;
    letter-spacing: 0.1px;
}
.flt-body2 {
    color: #3c4043;
    font: 400 14px/20px Roboto, HelveticaNeue, Arial, sans-serif;
    letter-spacing: 0.2px;
}
.gws-flights__main {
    line-height: 1;
}
.gws-flights__flex-box {
    display: flex;
}
.gws-flights__align-center {
    align-items: center;
}
.gws-flights-form__input-container {
    align-items: center;
    height: 56px;
    overflow: hidden;
    padding: 0 12px;
    border-radius: 4px;
}
.gws-flights-form__airport-input, .gws-flights-form__departure-input, .gws-flights-form__flexible-dates, .gws-flights-form__return-input, .gws-flights-form__multi-city-calendar-input {
    position: relative;
}
.gws-flights-form__airport-input {
	flex: 1 1 0px;
}
.gws-flights-widgets-inputcapturearea__capture-area-wrapper {
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 0;
}
.gws-flights-widgets-inputcapturearea__capture-area {
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
}
.gws-flights-form__calendar-icon, .gws-flights-form__location-icon {
    color: #1a73e8;
    display: block;
    height: 24px;
    width: 24px;
}
.gws-flights-form__location-icon.gws-flights-form__origin-icon {
    color: #5f6368;
    height: 16px;
    width: 16px;
}
.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%;
}
.gws-flights__flex-filler {
    flex: 1 1 0px;
    min-width: 0;
}
.gws-flights__ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gws-flights-form__input-target {
    align-items: center;
    display: flex;
    height: 56px;
}
.gws-flights-form__text-field-placeholder, .gws-flights-form__date-content, .gws-flights-form__location-list {
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}.gws-flights-form__swapper-half-circle {
    background-color: white;
    border: 1px solid #dadce0;
    border-radius: 100%;
    box-sizing: border-box;
    height: 40px;
    position: absolute;
    top: 8px;
    width: 40px;
}
.gws-flights-form__swapper-right>.gws-flights-form__swapper-half-circle {
    right: -24px;
}
.gws-flights-form__swapper {
    background-color: #fff;
    color: #5f6368;
    margin: auto -13px;
    padding: 5px;
    border-radius: 100%;
    box-sizing: border-box;
    height: 34px;
    position: relative;
    -webkit-transition: background-color 150ms ease 0ms;
    width: 34px;
    z-index: 1;
}
.gws-flights-form__swapper>svg {
    display: block;
    height: 24px;
    -webkit-transition: transform 150ms ease 0ms;
    width: 24px;
}
.gws-flights-form__swapper.gws-flights-form__disabled>svg {
    opacity: 0.3;
}
.gws-flights-form__input-container.gws-flights-form__airport-input.gws-flights-form__swapper-left {
    padding-left: 24px;
}
.gws-flights-form__text-field-placeholder {
    color: rgba(0,0,0,.56);
}
.gws-flights-form__swapper-left>.gws-flights-form__swapper-half-circle {
    left: -24px;
}
.gws-flights-form__field-spacer {
    height: 16px;
    width: 16px;
}
.gws-flights-form__calendar-input, .gws-flights-form__multi-city-calendar-input {
    box-sizing: border-box;
    flex: 0 1 0px;
}
.gws-flights-form__calendar-input {
    min-width: 400px;
}
.gws-flights-form__input-container.gws-flights-form__calendar-input {
    background: none;
    overflow: visible;
    padding: 0;
}
.gws-flights-form__departure-input, .gws-flights-form__return-input, .gws-flights-form__multi-city-calendar-input {
    align-items: center;
}
.gws-flights-form__homepage .gws-flights-form__departure-input, .gws-flights-form__slice-search .gws-flights-form__departure-input {
    flex-grow: 1.21;
}
.gws-flights-form__departure-input.gws-flights-form__round-trip {
    border-radius: 2px 0 0 2px;
    margin: -1px;
    padding: 0 13px;
}
.gws-flights-form__flipper {
    width: 48px;
}
.gws-flights-form__flipper .gws-flights-form__prev, .gws-flights-form__flipper .gws-flights-form__next {
    box-sizing: border-box;
    color: #5f6368;
    cursor: pointer;
    display: inline-block;
    flex: 0 0 auto;
    height: 40px;
    padding: 8px 0;
    width: 24px;
	outline: none;
}
.gws-flights-form__field-divider-wrapper {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    height: 35px;
	z-index: 1;
}
.gws-flights-form__field-divider {
    border-left: 1px solid #dadce0;
    height: 34px;
}
.gws-flights-form__departure-input, .gws-flights-form__return-input, .gws-flights-form__multi-city-calendar-input {
    box-sizing: border-box;
    height: 56px;
    overflow: visible;
}
.gws-flights-form__return-input {
    border-radius: 0 2px 2px 0;
    margin: -1px;
}
.gws-flights-form__homepage .gws-flights-form__departure-input, .gws-flights-form__slice-search .gws-flights-form__departure-input {
    flex-grow: 1.21;
}
.gws-flights-form__airport-input:focus::before{
	border: 2px solid #1a73e8;
}
.booking-form .uk-input:focus, .uk-select:focus, .uk-textarea:focus {
    outline: 0;
    background-color: #fff;
    color: #666;
    border: 2px solid #1e87f0;
}
.booking-form .uk-input:focus .gws-flights-form__swapper-half-circle {
    border: 2px solid #1e87f0;
}
/*
Gradient Buttons
*/
.breadcrumbs .breadcrumb-item a{
	color: #fff;
}
.breadcrumbs .breadcrumb-item.active {
    color: #000;
}
.breadcrumbs .breadcrumb-item, .breadcrumbs .breadcrumb-item::before {
    color: #212121;
}

.breadcrumbs .uk-breadcrumb{
	font-weight: 500;
}
.breadcrumbs .uk-breadcrumb a{
	color: rgba(255,255,255,.7);
}
.breadcrumbs .uk-breadcrumb>:last-child>a:not([href]), .breadcrumbs .uk-breadcrumb>:last-child>span {
    color: rgba(255,255,255,1);
}
.breadcrumbs .uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f105";
    display: inline-block;
    margin: 0 15px;
    font-size: 1rem;
    color: #fff;
}
/*
Gradient Buttons
*/
.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 0 20px #eee;
}
.btn-primary-grad {background-image: linear-gradient(to right, #004394 0%, #008CE0 51%, #94FFF1 100%)}
.btn-primary-grad:hover { background-position: right center; }